*{ 
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:  100%;
    height: 900px;
}

#main {

    display: flex;
    justify-content: space-around;

}

header {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.box-1 {
    position: relative;
    height: 38px;
    width: 100%;
}

.box-2 {
    position: relative;
    Height: 101px;
    background-color: #00669F;
    width: 100%;
}

.box-batman {
    display: flex;
    flex-direction: column;
}

article {
    width: 300px;
    height: 529px;
    position:relative;
}

.parrafo {
    position:absolute;
    Top:33%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F3F3F3;
    margin-top:20px;
    padding: 15px;
    align-items: center;
}

.vermas {

width: 128.78px;
height: 48.52px;
background-color: #00669F;
text-align: center;
color: white;
text-align: center;
}

.box-1 {
    background-color: #1CD1B0;
    height: 30%;
}

.box-2 {
    height: 60%;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

footer {
    color:white; 
}

/* imagenes */
.fondo {
    position:absolute;
    top: 0%;
    left: 0%;
    z-index: -1;

}

.corazon {
    position: absolute;
    position: top;
    top: 2%;
    left: 2%;
    z-index: 2;
}
.cara {
    position: absolute;
    z-index: 1;
    top:20%;
    left:30%;
}

