* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header p {
  background-color: #1cd1b0;
  color: black;
  height: 38px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-left-width: 10px;
  top: 0%;
  line-height: 25px;
}

/* main {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
    position: relative;
    top: -30px;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .heroes {
  position: sticky;
    height: auto;
        top: -30px;
    position: fixed;
     box-sizing: border-box;
}  */

h1 {
  background-color: #00669f;
  color: black;
  width: 100%;
  height: 101px;
  top: 0px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  line-height: 100px;
  box-sizing: border-box;
  position: sticky;
  z-index: 2;
}

.textBatman {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 410px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* text-align: center;
    text-align: justify; */
}

.textHarley {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 410px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textBatman1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 410px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imagenBatnman img {
  border-radius: 50%;
  position: relative;
  left: 80px;
  top: -60px;
}

.imagenBatnman1 img {
  border-radius: 50%;
  position: relative;
  left: 80px;
  top: -60px;
}

.imagenHarley img {
  border-radius: 50%;
  position: relative;
  left: 80px;
  top: -60px;
}

.nombreHeroe1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: justify;
  margin: 5px;
}

#verMas {
  align-self: center;
}

.corazon {
  position: relative;
  position: top;
  top: 10%;
  left: 2%;
  z-index: 1;
}

.corazon1 {
  position: relative;
  position: top;
  top: 10%;
  left: 2%;
  z-index: 1;
}

.corazon2 {
  position: relative;
  position: top;
  top: 10%;
  left: 2%;
  z-index: 1;
}

/* footer{
    width: 100%;
height: 51px;
left: 0px;
top: 972px;
    background: #00669F;
    color: white;
    top: 0%;
    
} */

footer p {
  width: 100%;
  height: 51px;
  left: 0px;

  background: #00669f;
  color: white;
}
