header p {
    background-color: #1CD1B0;
    color: black;
    height: 38px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left-width: 10px;
    top: 0%;
    line-height: 25px;
    
}

main {
    /* height: auto; */
    position: relative;
    top: -30px;
}

/* .heroes {
  position: sticky;
    height: auto;
        top: -30px;
    position: fixed;
     box-sizing: border-box;
}  */


h1 {
    background-color: #00669F;
    color: black;
    width: 100%;
    height: 101px;
    top: 0px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    line-height: 100px;
    box-sizing: border-box;
    position:sticky;
   
}