*{
    box-sizing: border-box;
}



header {
    position: sticky; 
    top: 0px;
    background-color: #8D91C7;
    width: 100%;
    z-index:2;
}

nav {
    position: sticky;
    top: 37px;
    z-index: 1;
}

nav ul li {
    display: inline-block;
   
}




.container {
    display:flex;
    /* flex-wrap: wrap;
    flex-direction: column-reverse; */
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 100%;
    margin: 0px auto;

    
}

/* mostrar alto y ancho con box */
.item {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin:10px;  
}

.item-1 {
    background-color: rgba(132,90,109,1); 
    order:6;
}

.item-2 {
    background-color: rgb(250, 165, 202); 
    height:100px;
    order:5;

 
}

.item-3 {
    background-color: rgba(110,117,168, 0.7);
    order:4;
    flex-grow: 1;
    flex-direction: ;
   
    
}
.item-4 {
    background-color: rgb(37, 172, 37); 
    order:3;
    
}

.item-5 {
    background-color: rgb(150, 151, 163);
    height:50px; 
    align-self:center;
}

.item-6 {
    background-color: rgba(193, 40, 48, 0.7);
}

.navbar {
    background-color: lightpink;
}