* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header p {
  display: flex;
  background-color: #1cd1b0;
  width: 100%;
  height: 30px;
  align-items: center;
}

.cab {
  display: flex;
  flex-direction: row;

  background-color: #00669f;
  color: rgb(253, 253, 253);
  width: 100%;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5% auto;
  width: 60%;
  height: 500px;
  padding: 10px;
  background-color: #00669f;
  color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 49.0901px;
}

.anadi {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}

.form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formIzq {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  justify-content: space-between;
}

.formDerecha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="radio"],
input[type="checkbox"] {
  width: 30px;
}

.redondeado {
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.boton {
  background-color: #1cd1b0;
  width: 200px;
  height: 60px;
  font-size: 25px;
  border-color: #1cd1b0;
  border-radius: 23.011px;
}

footer {
  display: flex;
  width: 100%;
  height: 51px;
  left: 0px;
  background: #00669f;
  color: white;
  align-items: center;
  justify-content: center;
}
@media (max-width:420px) {
  form {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 70%;
    height: 700px;
    padding: 20px;
    background-color: #00669f;
    color: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 49.0901px;
  }
  .form2 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 5% auto;
  }
  .anadi {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
  }
}
