* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #E6E6E6;
}

header img {
    margin-left: 50%;
    Width: 100px;

}

h1,
h3 {
    color: #005677;
    background: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h1 {
    width: 100%;
    height: 60px;
    left: 0px;
    font-size: 35px;
    text-align: center;
}

h3 {
    width: 100%;
    height: 30px;
    left: 0px;
    top: 376px;
}

p,
ul {
    font-family: 'Times New Roman', Times, serif;
}

article p {

    margin-left: 7%;
}

ul {
    text-indent: 4%
}

#datosPersonales {
    text-indent: 0%;
}

article h4 {
    float: left;
}

footer h3 {
    text-align: center;
}